@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, "Segoe UI", Tahoma, Arial,
    sans-serif;
}

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #0c0a09;
  color: #f5f5f4;
}
